html {
  height: 100%;
  font-size: 16px;
}

body {
  height: 100%;
  color: #444;
  font-family: Roboto, Arial, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
}

/* Unknown props */
/* box-shadow: 0 2px 5px rgba(0,0,0,.26); - header */
/* border-radius: 3px; - card rounding */
/* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); - card shadow */
/* border-top-left-radius: 3px;
  border-top-right-radius: 3px; - for card image */

/* Your styles go below */

* {
  box-sizing: border-box;
}

body {
  background-image: url(../img/pattern.png);
  background-repeat: repeat;
  background-attachment: fixed;
  font-family: Roboto, Arial, sans-serif;
}
.header {
  background-color: #2aa12a;
  color: #f2f2f2;
  box-shadow: 0 2px 5px rgba(0,0,0,.26);
}
.nav {
  height: 60px;
  line-height: 3.6em;
}
.active-link {
  border-bottom: 3px solid yellow;
}
.menu {
  display: inline-block;
}
.nav-link {
  display: inline;
  margin-right: 10px;
  padding-bottom: 20px;
}
.nav-link:last-child {
  margin-right: 0;
}
.authorization {
  float: right;
}
.authorization-link {
  margin-left: 10px;
}
.authorization-link:first-child {
  margin-left: 0;
}
.intro {
  background-image: url(../img/intro.jpg);
  height: 400px;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}
.intro-description {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  line-height: 400px;
}
.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.title {
  padding: 40px 0;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
}
.row {
  margin: 0 -15px;
}
.column {
  float: left;
  width: 25%;
  padding: 0 15px 20px;
}
.card {
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.card-image {
  background-image: url(../img/everest.jpg);
  background-position: center;
  position: relative;
  height: 300px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.card-name {
  font-size: 20px;
  color: #fff;
  position: absolute;
  left: 10px;
  bottom: 20px;
}
.card-preview {
  padding: 15px;
  background-color: white;
}
.preview-name {
  color: #aaa;
}
.preview-description {
  padding: 15px 0;
  line-height: 18px;
}
.card-buttons {
  color: #488c32;
}
.card-button {
  display: inline-block;
  text-transform: uppercase;
  line-height: 2rem;
  padding: 0 10px;
}
.load-more {
  text-align: center;
  margin-bottom: 40px;
}
.button-load-more {
  display: inline-block;
  text-transform: uppercase;
  font-size: 20px;
  border: 1px solid #488c32;
  background-color: #488c32;
  color: white;
  line-height: 50px;
  padding: 0 15px;
}

.footer {
  background-color: black;
  color: grey;
  padding: 25px 0;
  line-height: 2.5rem;
}
