* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, Arial, sans-serif;
  color: #595959;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.wrapper {
  min-height: 100%;
}

.container {
  margin: 0 auto;
  padding: 0px 15px;
}

.sense {
  margin: 150px 0;
  border: 1px solid #E9E6E6;
  box-shadow: 0px 7px 15px -5px rgba(0, 0, 0, 0.2);
}

.sense-block {
  border: 1px solid #E9E6E6;
}

.sense-block__row {
  padding: 10px 20px;
}

.sense-block__row--flex {
  display: flex;
}

.sense-block__logo {
  float: left;
  display: inline-block;
}

.sense-text {
  display: inline-block;
}

.sense-value {
  display: inline-block;
  float: right;
}

.logo__position {
  background-image: url(../img/SVG-icon.png);
  height: 35px;
  width: 35px;
  float: left;
}

.sense-text__position {
  float: left;
  padding: 10px;
}

.sense-value__indicator {
  padding: 10px 15px;
  border-radius: 5px;
  color: #fff;
  float: right;
}

.logo__position--first {
  background-position: -112px -40px;
}

.logo__position--second {
  background-position: -110px -77px;
}

.logo__position--thrid {
  background-position: -0px -150px;
}

.sense-value__indicator--color-first {
  background-color: green;
}

.sense-value__indicator--color-second {
  background-color: orange;
}

.sense-value__indicator--color-thrid {
  background-color: orangered;
}

.text-position--size {
  margin-top: -35px;
  margin-left: 50px;
  margin-right: 80px;
}

/*Circle*/

.circle {
  border-radius: 50%;
  background-image: radial-gradient(#dfe4df, #907373, black);
  background-size: 7px 7px;
  background-repeat: repeat;
  box-shadow: inset -2px 20px 5px rgba(29, 171, 26, 0.8), inset -21px 0px 5px rgba(157, 26, 171, 0.8), inset 0px -18px 5px rgba(61, 73, 249, 0.8), inset 22px -2px 5px rgba(61, 246, 133, 0.8), inset 17px 22px 5px rgba(196, 223, 62, 0.8), inset -16px -23px 5px rgba(231, 165, 62, 0.8);
  margin: 0 auto;
  height: 300px;
  width: 300px;
}