html {
  font-size: 16px;
  font-family: sans-serif;
}

table {
  width: 100%;
}
td {
  padding: 16px;
}

h1 {
  font-size: 6em;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 50px;
}
h4 {
  font-size: 250%
}
h5 {
  font-size: 2vw;
}
h6 {
  font-size: 3vmin;
}

tr:nth-child(even) {
  background-color: #ddd;
}
tr:nth-child(odd) td:nth-child(n + 5) {
  font-weight: bold;
  font-style: italic;
}
td:first-letter {
  color: red;
}
